/* Style.css */

/* Make certain attributes unselectable */
img, video, span {
  -webkit-user-select: none;
  user-select: none;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* My custom colors */

:root {
  --green: #0A401B;
  --white: #F2F4EF;
  --black: #000000;
  --brown: #8F8073;
  --blue: #0353A4;
}

html {
  background-color: var(--white);

}

/* Top navigation bar ------------------------------------------ */

.top-nav-bar {
  position: relative;
  width: 100vw;
  background: var(--white);
  left: -2px;
}

.top-nav-img {
  width: max-content;
  display: inline-block;
}
.top-nav-bar img {
  height: 10vh;
  float: left;
}

.top-nav-bar .icon {
  display: none;
}

.top-nav-links {
  float: right;
  height: max-content;
}

.top-nav-bar a {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  display: inline-block; 
  padding: 0px 16px;
  text-decoration: none;
  vertical-align: center;
  font-size: 17px;
  height: 10vh;
  padding-top: 3vw;
  margin-bottom: -5vw;
}

.top-nav-bar input {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  border-radius: 20px;
  margin-right: 3vw;
  padding-left: 10px;
}

/* top-nav mobile response */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the top-nav (.icon) */
@media screen and (max-width: 600px) {
  .top-nav-bar a/*:not(:first-child) */{display: none;}
  .top-nav-bar input {display: none;}
  .top-nav-bar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the top-nav with JavaScript when the user clicks on the icon. This class makes the top-nav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .top-nav-bar.responsive {position: relative;}
  .top-nav-bar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav-bar.responsive a {
    display: block;
    
  }
}


/* Video container ------------------------------------------------ */
.video-container {
  position: relative;
 
}

.video-container video {
  width: 101vw;
  height: 75vh;
  object-fit: cover;
  position: absolute;
  left: -9px;
  z-index: -1;
}

.video-container p {
  color: var(--white);
  z-index: 1;
  font-family: 'Gagalin', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0px;
  text-align: center;
}

.video-overlaid-text {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  letter-spacing: 0.1em;
}

/* Our software Info ------------------------------------------ */

.our-software-container {
  position: relative;
  margin-top: 30px;
  height: 70vh;
}

.our-software-image {
  height: 65vh;
  float: left;
}

.our-software-image img{
  border-top-right-radius: 20vh; 
  position: absolute;
  right:45vw;
  z-index: 0;
  width: 65vw;
}

.our-software-text {
  width: 40%;
  float: right;
}
.our-software-header {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 6vh;
  margin-bottom: 0px;
}

.our-software-tagline {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 2vh;
}

.our-software-body {
  color: var(--green);
  font-size: 3vh;
}

/* Icon separator ------------------------------------------ */

.icon-separator {
  position: relative;
  height: 10vh;
  text-align: center;
}

.icon-separator span {
  text-align: center;
  color: var(--blue);
  width: calc(90vw / 6);
  height: 10vh;
  font-size: 10vh;
}

/* Carousel ------------------------------------------ */

/* WHAT DOES THIS DO??? */
* {box-sizing:border-box}

.carousel-container {
  max-width: 1000px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}


.slide img {
  width: 100vw;
  height: 90vh;
  object-fit: cover; 
  margin-left: -8px;

}

.left-button, .right-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--black);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.right-button {
  border-radius: 3px 0 0 3px;
}

.right-button:hover, .left-button:hover {
  background-color:rgba(143, 128, 115, 0.5);
  
}

.slide-text {
  color: var(--white);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.carousel-indicator {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* More info ------------------------------------------ */

.more-info-container {
  position: relative;
  margin-top: 30px;
  height: 70vh;
}

.more-info-image {
  height: 65vh;
  float: right;
}

.more-info-image img{
  border-top-left-radius: 20vh; 
  position: absolute;
  left: 45vw;
  z-index: 0;
  width: 65vw;
}

.more-info-text {
  width: 40%;
  float: left;
  position: absolute;
  left: 3vw;
}
.more-info-header {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 6vh;
  margin-bottom: 0px;
}

.more-info-tagline {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 2vh;
}

.more-info-body {
  color: var(--green);
  font-size: 3vh;
}

/* Footer ------------------------------------------ */

.footer {
  position: relative;
  width: 100vw;
  background:var(--brown);
  left: -8px;
  height: max-content;
}

.footer-logo {
  width: max-content;
  display: inline-block;
}
.footer-logo-img {
  height: 15vh;
  float: left;
}

.footer-links{
  float: right;
  height: max-content;
}

.footer a {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  display: inline-block; 
  padding: 0px 16px;
  text-decoration: none;
  vertical-align: center;
  font-size: 17px;
  height: 10vh;
  padding-top: 3vw;
  margin-bottom: -5vw;
}

.contact-info {
  position: relative;
  float: right;
}

.social-media-links {
  position: relative;
  float: right;
}