/* Style.css */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* My custom colors */

:root {
  --green: #0A401B;
  --white: #F2F4EF;
  --black: #000000;
  --brown: #8F8073;
  --blue: #0353A4;
}

html {
  background-color: var(--white);
}

/* Top navigation bar ------------------------------------------ */

.top-nav-bar {
  position: relative;
  width: 100vw;
  background: var(--white);
  left: -2px;
}

.top-nav-img {
  width: max-content;
  display: inline-block;
}
.top-nav-bar img {
  height: 10vh;
  float: left;
}

.top-nav-links {
  float: right;
  height: max-content;
}

.top-nav-bar a {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  display: inline-block; 
  padding: 0px 16px;
  text-decoration: none;
  vertical-align: center;
  font-size: 17px;
  height: 10vh;
  padding-top: 3vw;
  margin-bottom: -5vw;
}

.top-nav-bar input {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  border-radius: 20px;
  margin-right: 3vw;
  padding-left: 10px;
}

/* Video container ------------------------------------------------ */
.video-container {
  position: relative;
 
}

.video-container video {
  width: 101vw;
  height: 75vh;
  object-fit: cover;
  position: absolute;
  left: -9px;
  z-index: -1;
}

.video-container p {
  color: var(--white);
  z-index: 1;
  font-family: 'Gagalin', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0px;
  text-align: center;
}

.video-overlaid-text {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  letter-spacing: 0.1em;
}

/* Our software Info ------------------------------------------ */

.our-software-container {
  position: relative;
  margin-top: 30px;
  height: 75vh;
}

.our-software-image {
  height: 65vh;
  float: left;
}

.our-software-image img{
  border-top-right-radius: 20vh; 
  position: absolute;
  right:45vw;
  z-index: 0;
  width: 65vw;
}

.our-software-text {
  width: 40%;
  float: right;
}
.our-software-header {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 6vh;
  margin-bottom: 0px;
}

.our-software-tagline {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 2vh;
}

.our-software-body {
  color: var(--green);
  font-size: 3vh;
}

/* Icon separator ------------------------------------------ */

.icon-separator {
  position: relative;
  height: 10vh;
  text-align: center;
  padding-top: 10px;
}

.icon-separator span {
  text-align: center;
  color: var(--blue);
  width: calc(90vw / 6);
  height: 10vh;
  font-size: 10vh;
}

/* Carousel ------------------------------------------ */

.slide {
  scroll-snap-align: center;
  width: 90vw;
}

.slide-list {
  width: 100vw;
  max-width: 950px;
  display: flex;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slide-list::-webkit-scrollbar {
  display: none;
}

/* style.css 
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* My custom colors 
:root {
  --green: #0A401B;
  --white: #F2F4EF;
  --black: #000000;
  --brown: #8F8073;
  --blue: #0353A4;
}

html {
  background-color: var(--white);
}

body {
  overflow-x: hidden;
}

/* Add the background color to the top navigation 
.topnav {

  border: 2px solid rgb(255, 16, 16);
  float: right;
  position: fixed;
  top: 0;
  right: 0;
}

/* Style the links inside the navigation bar 
.topnav a {
  display: inline-block; /* Use inline-block instead of float 
  color: var(--green);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover 
.topnav a:hover {
  background-color: var(--green);
  opacity: 0.5;
  color: var(--white);
}

/* Style the search box inside the navigation bar 
.topnav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.logo-container {
 height: 90dvb;
}

.logo {
  max-width: 100%; /* Ensure the logo doesn't exceed its original size 
  height: auto; /* Maintain the aspect ratio of the image 
  display: block; /* Remove any extra space below the image 
  margin: 0 auto; /* Center align the image within its container 
  transition: transform 0.5s; /* Add a smooth transition effect 
}






/* Contains two images and software header/body text ---------------- 
/* Div containing all first-block items 
.first-block {
  border: 2px solid rgb(255, 16, 16);
  height: 100%;
  
}

/* Div containing the photos in the first block 
.first-photos {
}
.first-photos:after{
  content: "";
  display: table;
  clear: both;
}

.girl-worshiping-image {
  border-top-right-radius: 20vh; 
  width: 65vw;
  position: absolute;
  right:40vw;
  z-index: 0;
}

.guitar-playing-image {
  border-top-left-radius: 20vh; 
  width: 65vw;
  position: absolute;
  left:40vw;
  z-index: 1;
  transform: translateY(50%);
}

/* Div containing the text in the first block 
.first-text {
  z-index: 5;
}
.block-one-header {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 35px;
  width: 35vw;
  position: relative;
}

.block-one-body {
  color: var(--green);
  width: 35vw;
  font-size: 20px;
  position: relative;
}

/* Clear after first block 
.first-block:after {
  content: "";
  display: table;
  clear: both;
}


/* Second block containing image and several pieces of text 
.second-block {
  position: relative;
  border: 2px solid rgb(16, 255, 72);

}

.campers-hiking-image {
  left: -10px;
  width: 110vw;
  height: 400px;
  position: relative;
  object-fit: cover;  
  object-position: 0 80%;

}

.block-two-header {
  font-family: 'Gagalin', sans-serif;
  color: var(--green);
  font-size: 60px;
  overflow-wrap: break-word; 
  position: relative;
}

.block-two-body-one {
  color: var(--green);
  width: 30vw;
  font-size: 30px;
}

.explore-our-solution {
  position: relative;
  background-color: var(--brown);
  border: none;
  border-radius: 100px;
  color: var(--white);
  width: 30vw;
  height: 60px;
  font-size: 40px;
  font-family: 'Gagalin', sans-serif;
}

.block-two-body-two {
  color: var(--green);
  width: 40vw;
  font-size: 30px;
}

.second-left {
  float: left;
  width: 38%;
  border: 2px solid rgb(255, 16, 16);
  padding-left: 10%;

}



.second-right {
  float: right;
  width: 48%;
  border: 2px solid rgb(64, 16, 255);
}

.content-one:after{
  content: "";
  display: table;
  clear: both;
}

/* Add styling for icons 
.icon-separator {
  border: 2px solid rgb(32, 255, 16);
  display: flex;
  flex-grow: 1;

}
.icon-separator span {
  flex-grow: 1;
  border: 1px solid #000; /* Optional: Add border for visual separation 
  text-align: center;
  color: var(--blue);
}

/* Styling for all the block three elements 
.block-three {
  border: 2px solid rgb(255, 16, 16);
  height: 100%;
}

/* add stlyling for the slip n slide image 
.slipnslide-image {
  border-top-right-radius: 20vh; 
  width: 65vw;
  position: absolute;
  float: left;
}

.slipnslide-image:after {
  content: "";
  display: table;
  clear: both;
}

.block-three-header {
  font-family: 'Gagalin', sans-serif;
  color: var(--blue);
  font-size: 45px;
  width: 35vw;
  float: right;
  position: relative;
}

.block-three-body-one {
  color: var(--green);
  width: 40vw;
  font-size: 30px;
  clear: both;
}

/* Span for blue-text class to make certain text blue 
.blue-text {
  color: var(--blue);
}
