.footer {
    background-color: #b7b7b7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
  }
  
  .footer-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul, .footer-section a {
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: var(--logo-green);
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: var(--logo-green);
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.8em;
  }
  